/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*___________________________________________________________________________________________________________________________________*/
.ftsz_1 {
	font-size: 1em;
}


body {
  background-color: #1a535c;
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
}

 header, main {
  width: 80%;
  background-color: #83c5be;
  margin-left: 10%;
  margin-top: -3vh;
	margin-bottom: 2vh;
}

header {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

footer {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

h1, p {
  text-align:center;
  width: 80%;
  height: auto;
  padding-left: 10%;
  padding-bottom: 8vh;
}

h1 {
	font-size: 1.6em;
	padding-top: 15vh;
	margin-bottom: 8vh;
}

p {
  font-size: 1.4em;
}

.border {
		border-width:4px;
		border-style:solid;
		border-color:#1a535c;
		width: 100%;
		margin-bottom: 1%;
		margin-top: 3%;
}

/* TITRE SITE ET SOUS-TITRE__________________ */

.titre_nom {
	display:flex;
	flex-direction: column;
	margin-top: 5vh;
}

.titre_nom h2 {
	text-align:center;
	font-size: 1.2em;
	margin-top: -13vh;
	padding-bottom: 12vh;
}

/* NAVIGATION__________________ */
header nav ul {
  display: flex;
  justify-content: space-around;
  background-color: inherit;
  padding: 2vh;
  margin-top: 2vh;
}

header ul li {
	padding:1px;
	list-style-type: none;
}

a {
 text-decoration: none;
 padding: 2px 1px 0;
 color: black;
}

 header nav li {
  cursor: pointer;
  list-style: none;
	position: relative;
}


header nav {
  border-top: solid 1px black;
  padding: 1vh 1vw;
}

header nav li:before {
  content: 										"";
  position: 									absolute;
  width: 											100%;
  height: 										1px;
  bottom: 										0;
  left: 											0;
  background-color: 					#1a535c;
  visibility: 								hidden;
  transform: 									scaleX(0);
  transition: 								all .3s ease-in-out;
}

header nav li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


/* PAGE AVEC TOUS LES PROJETS et PAGE PROJET PAR TECHNOLOGIES  */

/* la liste des techno dans tous les projets */
.listeTechno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	width: 65%;
	padding-left: 13vw;
	padding-bottom: 6vh;
}

/**/
.contenair_projets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	min-height: 63vh;
  padding: 1rem;
	padding-left: 13vw;
}
/* à l'intérieur de mes capsules */
.tousProjets {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	border: 3px solid #1A535C;
  border-radius: 0.5rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
  max-width: 17vw;
  padding: 1%;
}
.tousProjets h3 {
	font-size: 0.8em;
}
/* l'image dans chaque projet */
.demoImage {
	width: 98%;
	object-fit: contain;
	margin-top: 2vh;
	margin-bottom: 2vh;
}



/* PAGE PAR PROJET */

.imageDeuxParProjet {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.imageParProjet {
  border: 2px solid #1a535c;
  border-radius: 0.3rem;
  margin-bottom: 0.6rem;
  width: 48%
}

.presentationParProjet {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 2;
	margin-bottom: 24vh;
	margin-top: 15vh;
}

.pagination {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/* PAGE CONTACT */
.contenair_contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
	padding-left: 22vw;
	line-height: 2;
}

/* FOOTER */
.contenairFooter {
  display: flex;
  justify-content: space-around;
  background-color: #83c5be;
  margin-top: 0vh;
  padding-top: 4vh;
  padding-bottom: 5vh;
}

.delfDate {
  display: flex;
  flex-direction: column;
}

.logo {
	width: 15vh;
}
.logo, img {
    width: 19%;
}
.logoContact {
	width: 5%;
}
/* ----------------------------- */
